
.label-own {
    font-weight: 100%;
}

.container {
    display: block;
}

.navbar-inverse-n {
    background-color: #0ea2ff;
    border-color: #9d9999;
}
.ergebnis {
	font-size: 120%;
    font-weight: 900;
}

#result{
    font-size: 150%;
    font-weight: 900;
}

#übergewicht, #normalgewicht, #untergewicht{
    display: none;
    font-size: 140%;
    padding:5px;
    font-weight: bold;
}


#übergewicht{
    background-color: #ff0000;
}

#normalgewicht{
    background-color: #00ff00;
}

#untergewicht{
    background-color: #ef9292;
}

#link-wiki{
    display: none;    
}

#flexx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;   
}

#height{width: 45%;}
#weight{width: 45%;}
#calculate{width: 45%;}
